.recipt {
  margin-top: 10px;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &_box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 10px;
  }

  &_card {
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 20px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 10px #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    .recipt_card_img_wrapper {
      position: relative;
      width: auto;
      height: 300px;
      overflow: hidden;

      img {
        width: auto;
        height: 100%;
        object-fit: contain;
        object-position: center;
        background: #F5F5F5;
        border: 2px solid transparent;
        border-radius: 10px;
        transition: transform 0.4s ease, box-shadow 0.4s ease, filter 0.4s ease;
        box-shadow: 0 0 12px #ddd;

        &:hover {
          transform: scale(1.05) rotateZ(0.3deg);
        }
      }

      @keyframes cyber-flicker {
        0% {
          box-shadow: 0 0 6px #ddd;
          filter: brightness(1);
        }

        50% {
          box-shadow: 0 0 10px #FFF, 0 0 20px #DDD;
          filter: brightness(1.1);
        }

        100% {
          box-shadow: 0 0 8px #FFF;
          filter: brightness(1);
        }
      }

      .discount_badge {
        position: absolute;
        top: 10px;
        left: 10px;
        background: #db4444;
        color: #fff;
        padding: 4px 8px;
        font-size: 14px;
        font-weight: bold;
        border-radius: 4px;
      }
    }

    .recipt_card_info {
      flex: 1;
      padding: 5px;
      display: flex;
      flex-direction: column;
      background-color: #fff;

      .recipt_card_title {
        font-size: 22px;
        font-weight: 500;
        color: #000;
        text-shadow: 0 0 4px #fff;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      .recipt_card_price {
        margin-top: 10px;
        background-color: yellow;
        padding: 6px 8px;
        color: #000;
        font-weight: 600;
        font-size: 16px;
        border-radius: 4px;
        box-shadow: 0 0 6px #fff;
        width: max-content;
      }

      .recipt_card_rating {
        margin-top: 10px;
        padding: 6px 8px;
        color: #000;
        font-weight: 400;
        font-size: 16px;
        border-radius: 4px;
        box-shadow: 0 0 6px #fff;
        width: max-content;
      }
    }
  }
}