@use './fonts';
@use './common';
@use './blocs/paginate';
@use './blocs/product';
@use './blocs/recipt';
@use './blocs/sort';
@use './blocs/qidiruv';
@use './blocs/contacts';
@use './blocs/basket';
@use './responsive/recipt_media';
@use './responsive/product_media';
@use './responsive//contacts_media';


body {
  font-family: 'Rubik', sans-serif;
  background-color: #F5F5F5;

}

.header {
  width: 100%;
  height: 60px;
  background-color: #fff;
}

.nav {
  .nav_box {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .nav_logo {
    padding: 7px;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.25rem;
    color: #000;
    text-decoration: none;
  }

  .nav_list {
    display: flex;
    gap: 48px;
    list-style: none;
  }

  .nav_link {
    color: #000;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    transition: color 0.3s ease;

    &.active {
      color: #DB4444;
      font-weight: 600;
    }

    &:hover {
      color: #DB4444;
    }

    span {
      padding: 12px 6px;
    }
  }
}

@media (max-width: 1200px) and (min-width: 701px) {
  .header {
    height: 50px;
    background-color: #f0f0f0;
  }

  .nav {
    .nav_box {
      padding-top: 5px;
      flex-direction: row;
      gap: 1.5rem;
    }

    .nav_logo {
      font-size: 28px;
    }

    .nav_list {
      gap: 24px;
    }

    .nav_link {
      font-size: 16px;
    }
  }
}

@media (max-width: 600px) {
 .header{
  display: none;
 }
}
